.detail-card {
    margin: 40px auto;
    max-width: 900px;
    
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    display: flex; 
    overflow: hidden; 
}


.detail-image-box {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-image-box img {
    max-width: 90%;
    max-height: 350px;
    object-fit: contain;
}


.detail-info-box {
    flex: 1; 
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detail-info-box h2 {
    font-size: 2rem;
    color: #37474F; 
    margin-bottom: 10px;
}

.detail-info-box .price {
    font-size: 2.2rem;
    color: #4CAF50;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 25px;
}


.add-to-cart-btn {
    background-color: #00BCD4; 
    color: white;
    border: none;
    border-radius: 6px;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 15px; 
    transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
    background-color: #008C9E; 
}