.item{
  border-radius: 2px;
  width: 350px;
  height: 500px;
  list-style: none;
  margin: 20px 40px;
  font-size: 20px;
}
.img-item-container{
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle,
    rgb(125, 229, 255) 2%,
    rgb(245, 245, 245) 73%

  );
}
.img-item{
  width: 115%;
  height: 100%;
  object-fit: contain;
}
.text-item{
  height: 40%;
  background-color: rgb(0, 152, 190);
  padding: 20px 15px;
}
.title-item{
  margin: 0 0 40px 0;
}
.price-item{
  font-size: 25px;
  font-weight: 500;
}
.button-item{
  margin: 20px 0;
  font-size: 15px;
  font-weight: 600;
  color: rgb(0, 207, 235);
}