.navbar {
    width: 100%;
    height: 150px;
    background: linear-gradient(rgb(0, 204, 255), rgb(245, 245, 245)) ;
    color: aqua;
    display: flex;
    justify-content: space-between;
}
.navbar .logo {
    width: 130px;
}
.categorias {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 300px;
    font-weight: bolder;
    font-size: 25px;
    
}
.categorias li {
    padding: 0 10px;
}
