.navbar {
    width: 100%;
    height: 150px;
    background: linear-gradient(rgb(0, 204, 255), rgb(245, 245, 245)) ;
    color: rgb(20, 201, 233);
    display: flex;
    justify-content: space-between;
}
.navbar .logo {
    width: 130px;
}
.categorias {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 300px;
    font-weight: bolder;
    font-size: 25px;
    
}
.categorias li {
    padding: 0 10px;
    
}
.a {
    color: rgb(0, 120, 218);
    text-decoration: none;
}

.a:hover {
    color: rgb(0, 30, 163);
}