.item-count-main {
    display: flex; 
    align-items: center;
    justify-content: flex-end; 
    gap: 15px; 
    width: 100%; 
}


.item-count-main button {
    background-color: #007be0; 
    border: 1px solid #0010f1;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.item-count-main p {
    font-size: 1.1rem;
    font-weight: bold;
    color: #37474F;
    margin: 0 5px; 
}


.add-to-cart-btn {
    margin-top: 0; 
}